<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My coding Ehnancement and Refinement</title>
  </head>
  <body>
    <header>
      <main>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/insertRecords">sign up</a>
            </li>
            <li>
              <a href="/getRecords">User data</a>
            </li>
          </ul>
        </nav>
      </main>
    </header>
  </body>
</html>
