<%- include('header'); -%>

<section>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Hello Welcome to my website</h1>
      <p>Fullstack developer and designer</p>
      <img src="https://cdn-icons-png.flaticon.com/512/9394/9394519.png" alt="developer-image" width="200">
      <h3>Learn coding from scratch and make more interesting projects</h3>
      <p style="width:50%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad equat. Duis  cillum dolore eu fugiat nulla pariatur. Excepteur sint n culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Make fun with coding by doing it</h3>
      <p style="width:50%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad equat. Duis  cillum dolore eu fugiat nulla pariatur. Excepteur sint n culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col">
      <h2>Hello dear coders take this as a challenge</h2>
      <img src="https://cdn-icons-png.flaticon.com/512/6299/6299529.png" alt="challenge" width="200">      
    </div>

  </div>

</div>
</section>


<%- include('footer'); -%>
